/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, , h2, h3, h4, h5, h6, p, ol, ul {
  margin: 20px;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
header {
  width: 100;
  padding-bottom: 200px;
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  position: relative;
  padding-top: 200px;
  margin-bottom: 50px;;
}

h1 {
  color: white;
  text-align: center;
  font-size: 80px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

.imagenPeq {
 width: 350px;
 margin-left: 150px;
 margin-top: 20px;;
}

hr {
  margin-left: 60px;
  margin-right: 60px;
}

section {
  margin-left: 70px;
  margin-right: 70px;
}

ul {
  list-style-type:none;
  padding-left: 0px;
}